<h1> Login </h1>

<%= form_tag "/login", method: :post do %>
	Email: <input type="text" name="email">
	<br>
	Password: <input type="password" name="password">
	<br>
	<input type="submit" value="Login">

<%end%>

<%= button_to "Sign Up", "/signup", method: :get %>