<h1> Add a Product </h1>

<% if @product.errors.any? %>
	<div>
		<ul>
			<% @product.errors.full_messages.each do |message|%>
				<li><%= message %></li>
			<%end%>
		</ul>
	</div>
<%end%>


<div>
	<%= form_tag "/products", method: :post do %>
		Product Name: <input type="text" name="title">
		<br>
		Product Price: <input type="text" name="price">
		<br>
		Product Description: <input type="text" name="description">
		<br>
		Supplier ID: <input type="text" name="supplier_id">
		<br>
		Stock: <input type="text" name="stock">
		<br>
		<input type="submit" value="Add Product">
	<%end%>
</div>